footer{
    width: 100%;
    height: 160px;
    text-align: center;
    margin: 0px;
    color: white;
    background-color: rgb(197, 170, 170);
    align-items: center;
    padding-top: 20px;

}
p a{
    cursor: pointer;
    text-decoration: none;
    color: rgb(40, 61, 182);
}
p a:hover{
    color: wheat;
}
i{
    padding-left: 10px;
}
footer a i:hover{
    cursor: pointer;
    opacity: 70%;
    text-decoration: none;
    color: wheat;
}
b{
    text-decoration: underline;
}
